@mixin flex-center($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin three-column-grid {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    justify-content: center;
    text-align: center;
}